//variables
$eff7-btn-color: $light-settings-color;
$eff7-btn-hover-color: $basic-settings-color;
$eff7-btn-bg: $basic-settings-color;
$eff7-btn-hover-bg: $light-settings-color;

$eff7-element-offset: 7px;

//button effect 7
.foxholder-form__button--effect-7  {
  @include transition-mix($delay: .2s);

  color: $eff7-btn-color;

  border-color: transparent;
  background-color: $eff7-btn-bg;

  overflow: visible;

  //decorations styles
  &:before,
  &:after {
	@include transition-mix();
	@include position-absolute($left: 0);

	display: block;
	width: 100%;
	height: 2px;

	content: '';

	background-color: $eff6-btn-bg;

	opacity: 0;
	visibility: hidden;
  }

  &:hover {
	@include transition-mix();
	color: $eff7-btn-hover-color;

	background-color: $eff7-btn-hover-bg;

	&:before,
	&:after {
	  @include transition-mix($delay: .2s);

	  opacity: 1;
	  visibility: visible;
	}
  }
}

//inside effect
.foxholder-form__button--effect-7-inside,
.foxholder-form__button--effect-7-default{

  &:before {
	top: (- $eff7-element-offset);
  }

  &:after {
	bottom: (- $eff7-element-offset);
  }

  &:hover {

	&:before{
	  top: 0;
	}

	&:after {
	  bottom: 0;
	}
  }
}

.foxholder-form__button--effect-7-outside {

  &:before {
	top: $eff7-element-offset;
  }

  &:after {
	bottom: $eff7-element-offset;
  }

  &:hover {

	&:before{
	  top: 0;
	}

	&:after {
	  bottom: 0;
	}
  }
}
