//variables
$eff2-btn-hover-color: $light-settings-color;
$eff2-btn-hover-bg: $basic-settings-color;

//button effect 2
.foxholder-form__button--effect-2  {
  transform: translateZ(0);

  //basic styles
  &:after {
    @include position-absolute;

    display: block;
    width: 100%;
    height: 100%;

    content: '';

    background-color: $eff2-btn-hover-bg;

    z-index: -1;
  }

  &:hover {
    color: $eff2-btn-hover-color;
  }
}

//from left styles
.foxholder-form__button--effect-2-left,
.foxholder-form__button--effect-2-default{

  &:after {
    @include transition-mix;

    top: 0;
    left: -100%;
  }

  &:hover {

    &:after {
      left: 0;
    }
  }
}

//from right styles
.foxholder-form__button--effect-2-right {

  &:after {
    @include transition-mix;

    top: 0;
    left: 100%;
  }

  &:hover {

    &:after {
      left: 0;
    }
  }
}

//from top styles
.foxholder-form__button--effect-2-top {

  &:after {
    @include transition-mix;

    top: -100%;
    left: 0;
  }

  &:hover {

    &:after {
      top: 0;
    }
  }
}

//from bottom styles
.foxholder-form__button--effect-2-bottom {

  &:after {
    @include transition-mix;

    top: 100%;
    left: 0;
  }

  &:hover {

    &:after {
      top: 0;
    }
  }
}